<div id="about">
    <h1>About Me</h1>
    <img id="aboutme" src="/img/about.png"/>
    <div id="bubble">
        <p>
        Jenny is a senior in NYU who enjoys drawing in her free time. This portfolio was made to showcase several of her digital paintings. When she is not doing homework or drawing you can find her watching videos, chatting with her friends, or napping. 
        </p>
    </div>
</div>


